# 复制本文件为 .env 并填入你自己的凭据
# 结构由 credentials.py 读取, 请勿修改 section 名称

[tushare]
token = YOUR_TUSHARE_TOKEN

[joinquant]
username = YOUR_JQ_USERNAME
password = YOUR_JQ_PASSWORD

[worldquant]
email = YOUR_WQ_EMAIL
password = YOUR_WQ_PASSWORD
